# Week 4, Lab \#3

*February 4, 2026*

## GeoNames Database

[The GeoNames database](https://www.geonames.org/) is a geographic *gazetteer,* a database of geographic names that are mapped to spatial coordinates. If you ever come across a place name but don't where it is located, you can use a gazetteer like GeoNames to look up the actual coordinates.

I subset the GeoNames database to entries in Montana.

In [1]:
import pandas as pd
# geo = pd.read_csv('GeoNames_MT.csv')
geo = pd.read_csv('http://files.ntsg.umt.edu/data/GIS_Programming/data/GeoNames_MT.csv')
geo

           code                        name  latitude  longitude
0       5553713            Garnet Gold Mine  45.64520 -111.93665
1       5553969                   Mount Fox  45.12133 -109.93046
2       5553971         28N21W27CC__01 Well  48.15523 -114.26346
3       5554035         27N51E29BB__01 Well  48.07002 -105.16804
4       5554037         06S17E28CDDD01 Well  45.27661 -109.64073
...         ...                         ...       ...        ...
75795  12213547  Great Falls, MT Metro Area  47.30795 -111.34705
75796  12213587       Helena, MT Micro Area  46.81280 -112.29614
75797  12213624    Kalispell, MT Micro Area  48.29513 -114.04967
75798  12213849     Billings, MT Metro Area  45.63997 -108.82188
75799  12261457               Devil's Slide  45.09216 -110.79966

[75800 rows x 4 columns]

---

## Problem 3.1

**How many place names in Montana include the word "Peak"?** You should use either:

- A `for` loop, iterating over the place names;
- OR, [the built-in `filter()` function](https://www.digitalocean.com/community/tutorials/how-to-use-the-python-filter-function)

You should use the `places` list, below, to solve this problem. **`places` is a sequence of place names that you should iterate over.**

In [2]:
places = geo['name'].values.tolist()

### Solution 3.1

In [3]:
# define function that returns all the place names in the previously created list
def names_with_peak(x):
  return "peak" in x.lower()

# filter the places list with the values returned from names_with_peak 
peak_names = list(filter(names_with_peak, places))

# count the number of names with "peak"
print("Number of place names in Montana with the word 'Peak': "  + str(len(peak_names)))

Number of place names in Montana with the word 'Peak': 659

In [4]:
print(list(peak_names))

['Blackrock Peak', 'Wishard Peak', 'A Peak', 'Ahern Peak', 'Ajax Peak', 'Akinkoka Peak', 'Alaska Peak', 'Alder Peak', 'Allen Peak', 'Allen Peak Trail', 'Altyn Peak', 'Anaconda Peak', 'Anderson Peak', 'Antelope Peak', 'Antone Peak', 'Appistoki Peak', 'Arrow Peak', 'Arrow Peak', 'B Peak', 'Ayres Peak', 'Badger Peak', 'Bailey Peak', 'Bald Eagle Peak', 'Bald Peak', 'Baldy Peak', 'Baldy Peak', 'Bar Z Peak', 'Bare Peak', 'Barren Peak', 'Barren Peak Lookout Station', 'Bartleson Peak', 'Basin Peak', 'Bass Peak', 'Bassoo Peak', 'Bear Peak', 'Beartrap Peak', 'Beaver Peak', 'Beaver Peak', 'Beecher Peak', 'Belcher Peak', 'Bell Peak', 'Benson Peak', 'Between the Peaks Ski Trail', 'Big Grassy Peak', 'Big Hole Peak', 'Big Horn Peak', 'Big Peak', 'Big Timber Peak', 'Bighorn Peak', 'Black Peak', 'Black Peak', 'Black Peak Trail', 'Blacktail Peak', 'Blacktail Peak', 'Bloody Dick Peak', 'Bloom Peak', 'Blue Stone Peak', 'Bockman Peak', 'Bold Peak', 'Boorman Peak', 'Border Peak', 'Boulder Peak', 'Boulder Peak', 'Bowers Peak', 'Bowery Peak', 'Brandy Peak', 'Branham Peaks', 'Bridger Peak', 'Brown Sandstone Peak', 'Brownes Peak', 'Browns Peak', 'Bruin Peaks', 'Burley Peak', 'Burnette Peak', 'Burnt Peak', 'Cameron Peak', 'Canary Bird Peak', 'Canuck Peak', 'Canyon Peak', 'Canyon Peak', 'Canyon Peak Trail', 'Caper Peak', 'Cardinal Peak', 'Caribou Peak', 'Carmine Peak', 'Carney Peak', 'Casey Peak', 'Cataract Peak', 'Cathedral Peak', 'Cathedral Peak', 'Cathedral Peak', 'Cedar Peak', 'Cedar Peak', 'Ch-paa-qn Peak', 'Chalice Peak', 'Chapman Peak', 'Charity Peak', 'Charlotte Peak', 'Cherry Peak', 'Chicago Peak', 'Chico Peak', 'Chief Lodgepole Peak', 'Chief Peak', 'Chipmunk Peak', 'Cinnamon Peak', 'Citadel Peaks', 'Circus Peak', 'Clear Peak', 'Cloudcroft Peaks', 'Cloudrest Peak', 'Cobden Peak', 'Cold Peak', 'Collar Peak', 'Combest Peak', 'Como Peaks', 'Condor Peak', 'Cone Peak', 'Coney Peak', 'Cone Peak', 'Congdon Peak', 'Conical Peak', 'Cooney Peak', 'Cougar Peak', 'Count Peak', 'Coyote Peak', 'Coyote Peak', 'Crazy Peak', 'Crimson Peak', 'Crow Peak', 'Crystal Peak', 'Cyclone Peak', 'Cyclone Peak Lookout', 'Cyr Peak', 'Dad Peak', 'Daisy Peak', 'Daly Peak', 'Davis Peak', 'Deemer Peak', 'Deer Peak', 'Deer Peak', 'Denbys Peak', 'Desolation Peak', 'Devine Peak', 'Diamond Peak', 'Dickie Peak', 'Divide Peak', 'Dixie Peak', 'Dominion Peak', 'Doonan Peak', 'Drift Peak', 'Driveway Peak', 'Drury Peak', 'Dunn Peak', 'Dunn Peak', 'Dusty Peak', 'Dutchman Peak', 'Eagle Nest Peak', 'Eagle Peak', 'East Fork Peak', 'East Goat Peak', 'East Peak', 'East Peak', 'East Pintler Peak', 'East Saint Marys Peak', 'Echo Peak', 'Edith Peak', 'Edith Peak Lookout', 'Eighteenmile Peak', 'Eightmile Peak', 'Eighty Peak', 'Eightyseven Mile Peak', 'Electric Peak', 'Electric Peak', 'Elephant Peak', 'Elk Peak', 'Elk Peak', 'Elk Peak', 'Elk Peak Number 1 Mine', 'Elk Peak Number 2 Mine', 'Elk Peak Number 3 Mine', 'Elk Peak Number 4 Mine', 'Elk Peak Number 5 Mine', 'Elk Peak Number 6 Mine', 'Elk Peak Number 7 Mine', 'Elkhorn Peak', 'Ellis Peak', 'Emerson Peak', 'Emerson Peak', 'Emigrant Peak', 'Emma Peak', 'Emma Peak Pack Trail', 'Engle Peak', 'Engle Peak Trail', 'Evans Peak', 'Fairview Peak', 'Family Peak', 'Fault Peak', 'Fawn Peak', 'Felix Peak', 'Fish Peak', 'Fisher Peak', 'Flame Peak', 'Flinsch Peak', 'Fossil Peak', 'Fox Peak', 'Fridley Peak', 'Gable Peaks', 'Gallatin Peak', 'Galusha Peak', 'Garfield Peak', 'Garnet Peak', 'Gem Peak', 'Gem Peak Lookout', 'Gibson Peak', 'Gildart Peak', 'Glacier Peak', 'Glacier Peaks', 'Glacier Peaks RV Park', 'Goat Peak', 'Goat Peak', 'Goat Peak Trail', 'Gold Creek Peak', 'Gold Peak', 'Granite Peak', 'Granite Peak', 'Granite Peak', 'Granite Peak', 'Granite Peak Park', 'Graves Peak', 'Graves Peak', 'Gray Jockey Peak', 'Gray Wolf Peak', 'Greathouse Peak', 'Grizzly Peak', 'Gunsight Peak', 'Hahn Peak', 'Halfmoon Peak', 'Hall Peak', 'Hardscrabble Peak', 'Harrison Peak', 'Haystack Peak', 'Heavens Peak', 'Hellers Peak', 'Hematite Peak', 'Helwick Peak', 'Henry Peak', 'Hicks Peak', 'High Park Peak', 'High Peak', 'High Peak', 'Hilgard Peak', 'Holland Peak', 'Homer Youngs Peak', 'Horsehead Peak', 'Horseshoe Peak', 'Houser Peak', 'Hummingbird Peak', 'Huntsberger Peak', 'Huson Peak', 'Hyalite Peak', 'Ibex Peak', 'Iceberg Peak', 'Iceberg Peak', 'Iddings Peak', 'Illinois Peak', 'Imp Peak', 'Independence Peak', 'Independence Peak', 'Indian Peak', 'Indian Peak', 'Ipasha Peak', 'Irene Peak', 'Italian Peak', 'Jackson Peak', 'Jeff Davis Peak', 'Jew Peak', 'Johnson Peak', 'Johnson Peak', 'Josephine Peak', 'Judith Peak', 'Jumbo Peak', 'Jump Off Peak', 'Keegan Peak', 'Kent Peak', 'Keystone Peak', 'Kinnerly Peak', 'Kinor Peak', 'Kintla Peak', 'Knowles Peak', 'Koch Peak', 'Kootenai Peak', 'Krag Peak', 'Krinklehorn Peak', 'Ksanka Peak', 'Kurt Peak', 'Lady of the Lake Peak', 'Lava Peak', 'Lebo Peak', 'Lee Metcalf Wilderness (Spanish Peaks Unit)', 'Lena Peak', 'Lentz Peak', 'Leota Peak', 'Lewis Peak', 'Lightning Peak', 'Lightning Peak', 'Lima Peaks', 'Lime Cave Peak', 'Limestone Peak', 'Lincoln Peak', 'Lindy Peak', 'Lindy Peak', 'Little Bear Peak', 'Little Carmine Peak', 'Little Granite Peak', 'Little Ibex Peak', 'Little Joe Peak', 'Little Plume Peak', 'Little Thompson Peak', 'Liver Peak', 'Livingston Peak', 'Lolo Peak', 'Lolo Peak Trailer Court', 'London Peak', 'Lone Indian Peak', 'Lone Tree Peak', 'Lonesome Peak', 'Lonesome Peak', 'Long George Peak', 'Long Knife Peak', 'Long Peak', 'Longfellow Peak', 'Lookout Peak', 'Loon Peak', 'Lost Peak', 'Lost Peak', 'Lost Peak', 'Loveland Peak', 'Loveland Peak Trail', 'Lowary Peak', 'Luttrell Peak', 'Maiden Peak', 'Maiden Peak', 'Marmot Peak', 'Marten Peak', 'Masonry Peak', 'Matahpi Peak', 'McClintock Peak', 'McCormick Peak', 'McDonald Peak', 'McGee Peak', 'McGlaughlin Peak', 'McGregor Peak', 'McLeod Peak', 'McMullan Peak', 'McNeeley Peak', 'Meadow Peak', 'Medicine Grizzly Peak', 'Medicine Lodge Peak', 'Medicine Owl Peak', 'Merden Peak', 'Meridian Peak', 'Miche Wabun Peak', 'Middle Peak', 'Miller Peak', 'Minaret Peak', 'Mine Peak', 'Mineral Peak', 'Mink Peak', 'Mink Peak Mine', 'Minton Peak', 'Minton Peak Lookout Station', 'Mission Peak', 'Mizpah Peak', 'Monitor Peak', 'Monument Peak', 'Monument Peak', 'Moon Peak', 'Moonlight Peak', 'Moose Peak', 'Moose Peak', 'Moose Peak Trail', 'Moran Peak', 'Mormon Peak', 'Morning Star Peak', 'Morrison Peak', 'Mosquito Peak', 'Mosquito Peak', 'Mosquito Peak', 'Moss Peak', 'Mountaineer Peak', 'Murphy Peak', 'Murr Peak Trail', 'Murr Peak', 'Natoas Peak', 'Naya Nuki Peak', 'Needle Peak', 'New Year Peak', 'Newman Peak', 'Nichols Peak', 'Nipple Peak', 'Nixon Peak', 'No Man Peak', 'Noble Peak', 'North Chimney Peak', 'North Jocko Peak', 'North Peak', 'North Trapper Peak', 'Northwest Peak', 'Northwest Peak Scenic Area', 'Numa Peak', 'Nutters Cathedral Peak', 'Ojibway Peak', 'Old Scraggy Peak', 'Olson Peak', 'Olson Peak', 'Olson Peak', 'Olson Peak', 'Oreamnos Peak', 'Oregon Peak', 'Ousel Peak', 'Ousel Peak Trail', 'Owl Peak', 'Owl Peak', 'Packsaddle Peak', 'Painted Tepee Peak', 'Painter Peak', 'Panoramic Peak', 'Parke Peak', 'Pashua Peak', 'Peak X', 'Peak Y', 'The Peak', 'Peaks and Pines Park', 'Pekay Peak', 'Pekay Peak Number 1 Mine', 'Pekay Peak Number 2 Mine', 'Penney Peak', 'Penrose Peak', 'Peril Peak', 'Pika Peak', 'Pikes Peak', 'Pikes Peak', 'Pikes Peak (historical)', 'Pikes Peak Creek', 'Pikes Peak', 'Pikes Peak Ridge', 'Pikes Peak Post Office (historical)', 'Pilot Peak', 'Pinewood Peak', 'Pinnacle Peak', 'Pintler Peak', 'Ponsonby Peak', 'Porphyry Peak', 'Porphyry Peak', 'Porphyry Peak Lookout', 'Potosi Peak', 'Potosi Peak Tungsten Mine', 'Priscilla Peak', 'Priscilla Peak Lookout', 'Prospect Peak', 'Puma Peak', 'Pyramid Peak', 'Pyramid Peak', 'Pyramid Peak', 'Pyramid Peak', 'Pyramid Peak', 'Pyramid Peak', 'Quarles Peak', 'Quartz Peak', 'Quigg Peak', 'Quigg Peak Trail', 'Racetrack Peak', 'Rainbow Peak', 'Ramshorn Peak', 'Ranger Peak', 'Red Conglomerate Peaks', 'Redhead Peak', 'Redhorn Peak', 'Redstreak Peak', 'Reuter Peak', 'Richards Peak', 'Richmond Peak', 'Rivers Peak', 'Rivulet Peak', 'Rock Peak', 'Rocker Peak', 'Rocky Peak', 'Rogers Peak', 'Ross Peak', 'Sacagawea Peak', 'Sacajawea Peak', 'Saddle Peak', 'Sage Peak', 'Saint Clair Peak', 'Cabinet Peaks Medical Center', 'Saint Joseph Peak', 'Saint Mary Peak', 'Saint Mary Peak Trail', 'Saint Patrick Peak', 'Saint Paul Peak', 'Sarah Peak', 'Sawmill Peak', 'Scarface Peak', 'Scotty Peak', 'Sentinel Peak', 'Sex Peak', 'Sex Peak Lookout Station', 'Shaheeya Peak', 'Shale Peak', 'Shaws Peak', 'Sheepherder Peak', 'Sheepherder Peak', 'Sherburne Peak', 'Short Peak', 'Silver Peak', 'Silver Run Peak', 'Skihi Peak', 'Skihi Peak', 'Sky Peak', 'Slideout Peak', 'Snow Peak', 'Snowshoe Peak', 'Snowy Peak', 'Sourdough Peak', 'South Chimney Peak', 'South Peak', 'Spanish Peaks', 'Spar Peak', 'Sphinx Peak', 'Spuhler Peak', 'Square Peak', 'Star Peak Lookout Station', 'Shining Peak Trail', 'Stadium Peak', 'Stahl Peak', 'Stahl Peak Snow Gage', 'Standard Peak', 'Stands Alone Woman Peak', 'Stanley Peak', 'Star Peak', 'Stevens Peak', 'Stoney Indian Peaks', 'Storm Peak', 'Storm Peak Trail', 'Storm Peak', 'Straight Peak', 'Stryker Peak', 'Stuart Peak', 'Sugarloaf Peak', 'Sula Peak', 'Sunlight Peak', 'Sunrise Peak', 'Sunrise Peak', 'Sunset Peak', 'Sunset Peak', 'Sunset Peak', 'Sunset Peak', 'Sunset Peak', 'Sunset Peak', 'Sunset Peak', 'Swan Peak', 'Sweeney Peak', 'Sylvan Peak', 'Taft Peak', 'Tash Peak', 'Taylor Peak', 'Taylor Peak', 'Taylor Peaks', 'Teeters Peak', 'Teeters Peak Trail', 'Teton Peak', 'Thompson Peak', 'Thompson Peak', 'Thompson Peak', 'Three Lakes Peak', 'Three Peaks', 'Three Summit Peak', 'Tillson Peak', 'Toms Peak', 'Tony Peak', 'Tony Peak Lookout', 'Torino Peak', 'Totem Peak', 'Totem Peak Lake', 'Tower Peak', 'Trapper Peak', 'Trapper Peak', 'Trapper Peak Trail', 'Triangle Peak', 'Triangle Peak', 'Triangle Peak', 'Trident Peak', 'Trident Peaks', 'Trilobite Peak', 'Triple Divide Peak', 'Turkey Pen Peak', 'Twenty Odd Peak Trail', 'Twenty Peak', 'Twenty Peak Gulch', 'Twenty Odd Peak', 'Twin Peaks', 'Twin Peaks', 'Twin Peaks', 'Twin Peaks', 'Twin Peaks', 'Twin Peaks', 'Twin Peaks Creek', 'Twin Peaks Mine', 'Twin Peaks Mine', 'Ulm Peak', 'Union Peak', 'Union Peak', 'Van Peak', 'Vermilion Peak', 'Vigil Peak', 'Virginia Peak', 'Vulture Peak', 'Wade Peak', 'Wallace Peak', 'Wapiti Peak', 'Ward Peak', 'Ward Peak', 'Warland Peak Lookout', 'Warland Peak', 'Warren Peak', 'Weather Peak', 'Wee Peak', 'Weisner Peak', 'Weir Peak', 'Wellen Peak', 'Werner Peak', 'West Goat Peak', 'West McDonald Peak', 'West Peak', 'West Pintler Peak', 'West Saint Marys Peak', 'Whitcomb Peak', 'White Peak', 'Whitetail Peak', 'Whitetail Peak', 'Wiles Peak', 'Williams Peak', 'Williams Peak Lookout', 'Willow Peak', 'Wilson Peak', 'Windfall Peak Trail', 'Windfall Peak', 'Wolverine Peak', 'Wolverine Peak', 'Woodchuck Peak', 'Yogo Peak', 'Alex Lowe Peak', 'Columbine Peak', 'Benson Peak', 'Pomp Peak', 'West Peak', 'Wilsall Peak', 'Ferris Peak', 'Americas Best Value Inn Glacier Peak']

---

## Problem 3.2

**How many place names in Montana include the word "gold" (or "Gold") alone and not as part of a longer word?** Do not include place names with words like "Golden" or "Goldfinch".

We only want names like "Gold Creek" or, my personal favorite, "Thars Gold in Them Thar Hills Historical Marker". You should use either:

- A `for` loop, iterating over the place names;
- OR, [the built-in `filter()` function](https://www.digitalocean.com/community/tutorials/how-to-use-the-python-filter-function)

### Solution 3.2

In [5]:
# define function that splits each place name into seperate words and checks whether "gold" appears as one of the word.
def names_with_Gold(x):
    words = x.lower().split()
    return "gold" in words

# filter the places list with the values returned from names_with_Gold
gold_names = list(filter(names_with_Gold, places))

# count the number of names with standalone "Gold"
print("Number of place names in Montana with the standalone word 'Gold': " + str(len(gold_names)))

Number of place names in Montana with the standalone word 'Gold': 103

In [6]:
print(list(gold_names))

['Garnet Gold Mine', 'Montro Gold Mine', 'American Gold Mine', 'Douglas Gold School', 'Garnet Gold Mine', 'Gold Bar (historical)', 'Gold Brick Mine', 'Gold Bug Butte', 'Gold Bug Mine', 'Gold Bug Mine', 'Gold Bug Mine', 'Gold Bug Ski Trail', 'Gold Butte', 'Gold Butte', 'Gold Butte', 'Gold Butte', 'Gold Butte Cemetery', 'Gold Butte Mine', 'Gold Canyon Creek', 'Gold Coin (historical)', 'Gold Coin (historical)', 'Gold Coin 8 Mine', 'Gold Coin Mine', 'Gold Coin Mine', 'Gold Creek', 'Gold Chrome Mine', 'Gold Creek', 'Gold Creek', 'Gold Creek', 'Gold Creek', 'Gold Creek', 'Gold Creek', 'Gold Creek', 'Gold Creek', 'Gold Creek', 'Gold Creek', 'Gold Creek', 'Gold Creek', 'North Fork Gold Creek', 'Gold Creek', 'Gold Creek Campground', 'Gold Creek Guard Station', 'Gold Creek Lake', 'Gold Creek Lakes', 'Gold Creek Meadows', 'Gold Creek Mine', 'Gold Creek Peak', 'Gold Creek Placer Mine', 'Gold Creek Trail', 'Gold Creek Trailhead', 'Gold Dust (historical)', 'Gold Dust Mine', 'Gold Dust Mine', 'Gold Dust Post Office (historical)', 'Gold Finch Mine', 'Gold Flint Mine', 'Gold Gulch', 'Gold Creek Elementary School', 'Gold Hill', 'Gold Hill', 'Gold Hill', 'Gold Hill', 'Gold Hill (historical)', 'Gold Hill Gulch', 'Gold Hill', 'Gold Hill Mine', 'Gold Hill Mine', 'Gold Hill Mine', 'Gold King Mine', 'Gold King Mine', 'Gold King/Bonanza Mine', 'Gold Lake', 'Gold Lake', 'Gold Lake Dam', 'Gold Leaf Mine', 'Gold Medal Post Office (historical)', 'Gold Mountain Mine', 'Gold Mountain Mines', 'Gold Peak', 'Gold Prize Creek', 'Gold Hill Lutheran Church', 'Gold Run Creek', 'Gold Reef', 'Gold Run Creek', 'Gold Rush Campground', 'Gold Rush Gulch', 'Gold Rush Ski Trail', 'Gold Creek Post Office', 'Gold Well', 'John Gold Reservoir', 'Liquid Gold Historical Marker', 'Little Gold Creek', 'Maidens Gold Historical Marker', 'New Gold Bar Mine', 'North Gold Creek', 'Old Trail to the Gold Diggins Historical Marker', 'Royal Gold Creek', 'South Gold Creek', 'Thars Gold in Them Thar Hills Historical Marker', 'Gold Creek', 'West Fork Gold Creek', 'Middle Fork Gold Creek', 'Gold Creek Airport']

---

## Problem 3.3

**How many kilometers would you have to travel to visit every "Fish Creek" in Montana?** Don't worry about whether the route is the shortest possible route, just calculate the distance along *any* route that will bring you to *every* Fish Creek, even if you're visiting them in a random, zig-zagging order. You'll need to use the whole `geo` table for this...

In [7]:
geo.columns

Index(['code', 'name', 'latitude', 'longitude'], dtype='object')

That is, you should iterate over `geo.to_records()`, which allows you to refer to a column by number (position) *or* by name:

In [8]:
for row in geo.to_records():
    name = row[2]
    name = row['name'] # Same result
    lat = row[3]
    lat = row['latitude'] # Same result

print(name) # Just one example

Devil's Slide

**The idea is to start at one Fish Creek (any one) and travel to the next, then the next, and so on.** The order in which you visit Fish Creeks doesn't matter.

Also, remember the `haversine()` function:

In [9]:
import numpy as np

def haversine(p1, p2):
    x1, y1 = map(np.deg2rad, p1)
    x2, y2 = map(np.deg2rad, p2)
    dphi = np.abs(y2 - y1) # Difference in latitude
    dlambda = np.abs(x2 - x1) # Difference in longitude
    angle = 2 * np.arcsin(np.sqrt(np.add(
        np.power(np.sin(dphi / 2), 2),
        np.cos(y1) * np.cos(y2) * np.power(np.sin(dlambda / 2), 2)
    )))
    return float(angle * 6371e3) # Earth's radius: 6371e3 meters

**And remember that `haversine()` takes two sequences as arguments;**

```py
p1 = (some_longitude, some_latitude)
p2 = (another_longitude, another_latitude)
```

### Solution 3.3

In [10]:
def fishcreek_travel_dist(df):
    # save list of all the Fish Creek coordinates in the order they appear
    fish_creeks = []
    for row in df.to_records():
        if row['name'] == "Fish Creek":
            lon = row['longitude']
            lat = row['latitude']
            fish_creeks.append((lon, lat))
    # use haversine function to measure distance between Fish Creek X coordinates and Fish Creek Y coordinates in meters, and keep adding each computed distance between two Fish Creek places to the total tally sum
    distance = 0
    for i in range(len(fish_creeks) - 1):
        p1 = fish_creeks[i]
        p2 = fish_creeks[i + 1]
        distance += haversine(p1, p2)
    # return result in km
    return distance / 1000

In [11]:
total_km_traveled = fishcreek_travel_dist(geo)
print("Total kilometers traveled between all Fish Creek places: " + str(total_km_traveled) + "km")

Total kilometers traveled between all Fish Creek places: 2769.253376324233km

---

## Aircraft CO$_2$ Flask Data

In this lab, we'll be working with flask data collected by multiple aircraft traveling at altitudes defined by constant atmospheric pressure levels (700, 500, and 300 hPa) over the North Pacific, Alaska, and the Arctic Ocean between 1958 and 1961. [You can read more about the data here.](https://scrippsco2.ucsd.edu/data/atmospheric_co2/aircraft_campaign_data.html)

In [12]:
# co2 = pd.read_csv('flx_aircraft.csv', skiprows = 68, names = ['flight', 'date', 'time', 'lat_degrees', 'lat_minutes', 'lat_ns', 'lng_degrees', 'lng_minutes', 'lng_ew', 'pressure_hPa', 'analysis_count', 'flag', 'adj_index', 'co2_ppm')
co2 = pd.read_csv(
    'https://scrippsco2.ucsd.edu/assets/data/atmospheric/aircraft/flx_aircraft.csv',
    skiprows = 68, names = ['flight', 'date', 'time', 'lat_degrees', 'lat_minutes', 'lat_ns',
    'lng_degrees', 'lng_minutes', 'lng_ew', 'pressure_hPa', 'analysis_count', 'flag', 'adj_index', 'co2_ppm'])
co2

,flight,date,time,lat_degrees,lat_minutes,lat_ns,lng_degrees,lng_minutes,lng_ew,pressure_hPa,analysis_count,flag,adj_index,co2_ppm
0,LK5,580406,1658,41,0,N,125,0,W,500,1,1,314.08,317.13
1,LK5,580406,1740,42,54,N,127,6,W,500,1,1,314.34,317.39
2,LK5,580406,1903,46,54,N,131,30,W,500,1,1,314.22,317.27
3,LK5,580406,1940,48,48,N,133,48,W,500,1,1,314.34,317.39
4,LK5,580406,2108,52,42,N,138,36,W,500,1,1,314.61,317.66
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1038,LK5,611216,2247,37,30,N,145,48,W,500,1,1,314.95,318.17
1039,LK5,611216,2322,39,30,N,144,0,W,500,1,1,314.86,318.09
1040,LK5,611216,2349,39,30,N,140,42,W,500,1,1,314.86,318.09
1041,LK5,611217,15,39,30,N,137,30,W,500,1,1,314.86,318.09
1042,LK5,611217,115,39,30,N,131,6,W,500,1,1,315.64,318.88

Some important columns:

- `lat_degrees` and `lat_minutes` are the latitude's degrees and minutes, respectively.
- `lng_degrees` and `lng_minutes` are the longitude's degrees and minutes, respectively.
- `lat_ns` indicates North (N) or South (S) latitude
- `lng_ew` indicates East (E) or West (W) latitude

**There's something funny about these data.** If we look at the `lng_ew` column, we can see that the East/West codes have extra spaces:

In [13]:
co2.lng_ew.values

array(['   W', '   W', '   W', ..., '   W', '   W', '   W'], dtype=object)

In [14]:
co2.lng_ew.values[0]

'   W'

Strings in Python have a method called `strip()` which removes extra whitespace:

In [15]:
co2.lng_ew.values[0].strip()

'W'

We can fix this problem for every value in the `lng_ew` column by using Python's `map()` function.

In [16]:
old_values = co2.lng_ew.values.tolist()
old_values

['   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 '   W',
 ...]

In [17]:
# Remove the extra whitespace from every value in the lng_ew column
new_values = list(map(lambda x: x.strip(), old_values))

# Replace the values of the lng_ew column with these cleaned values
co2.loc[:,'lng_ew'] = new_values

---

## Problem 3.4

Write Python code that iterates over the rows of this table and, for each row:

1. If the `flag` column contains anything other than 1 or 5, skip it (i.e., filter these rows out).
2. Convert latitude and longitude from degrees-minutes-seconds to decimal degrees, with appropriate sign for northern/ southern latitude and eastern/ western longitude.
3. Store only the following values (based on these column names) from each row, as a `list`:

```
flight, date, time, latitude, longitude, pressure_hPA, co2_ppm
```

Where `latitude` and `longitude` are both in decimal degrees.

The function should output a `list` of rows (a `list` of lists), one for each row that wasn't filtered out in Step 1. For example, it might look like this (with numbers and text instead of column names):

```py
[
    [flight, date, time, latitude, longitude, pressure_hPA, co2_ppm], # Row 1
    [flight, date, time, latitude, longitude, pressure_hPA, co2_ppm], # Row 2
    ...
]
```

**You should define at least one Python function as part of this problem.**

**It is ESSENTIAL that you iterate and read columns this way, with `to_records()`**

In [18]:
for row in co2.to_records():
    print(row['co2_ppm'])
    break # Stop, this was just an example

317.13

Otherwise, your column values will be quite strange. If you used `to_numpy()` (as in earlier Problems) you end up with a NumPy array and, unlike lists, NumPy arrays can only hold one data type!

**There should be 919 rows in the output if your code does the above correctly.**

### Solution 3.4

In [19]:
# use function from previous lab to get decimal degrees, adding strip method to the hemisphere column to S/W as single character and make negative if need be
def dms_to_dd(deg, minutes, hemi):
    dd = float(deg) + float(minutes) / 60.0
    hemi = str(hemi).strip().upper()
    if hemi in ("S", "W"):
        dd = -dd
    return dd

# define function to iterate and read through columns and: (1) only keep rows with flag values 1 and 5; (2) convert minute coordinates to decimal degrees; (3) save row columns as new list elemnt
def build_clean_rows(co2):
    rows_out = []
    for row in co2.to_records():
        #flag = row['flag']
        if row['flag'] not in (1, 5):
            continue
        lat = dms_to_dd(row['lat_degrees'], row['lat_minutes'], row['lat_ns'])
        lon = dms_to_dd(row['lng_degrees'], row['lng_minutes'], row['lng_ew'])

        rows_out.append([row['flight'],row['date'], row['time'], lat, lon, row['pressure_hPa'], row['co2_ppm']])

    return rows_out

In [20]:
# run function and save returns
clean_data = build_clean_rows(co2)

# show a single flagged row
print("Sample row values: " + str(clean_data[0]))

# count number of filtered rows (should be 919)
print("Number of rows after filtering:", len(clean_data)) 

# show flagged rows in dataframe
df = pd.DataFrame(clean_data)
df.columns = ['Flight', 'Date', 'Time', 'Lat', 'Lng', 'pressure_hPa', 'co2_ppm']
df

Sample row values: ['LK5', np.int64(580406), np.int64(1658), 41.0, -125.0, np.int64(500), np.float64(317.13)]
Number of rows after filtering: 919

    Flight    Date  Time   Lat    Lng  pressure_hPa  co2_ppm
0      LK5  580406  1658  41.0 -125.0           500   317.13
1      LK5  580406  1740  42.9 -127.1           500   317.39
2      LK5  580406  1903  46.9 -131.5           500   317.27
3      LK5  580406  1940  48.8 -133.8           500   317.39
4      LK5  580406  2108  52.7 -138.6           500   317.66
..     ...     ...   ...   ...    ...           ...      ...
914    LK5  611216  2247  37.5 -145.8           500   318.17
915    LK5  611216  2322  39.5 -144.0           500   318.09
916    LK5  611216  2349  39.5 -140.7           500   318.09
917    LK5  611217    15  39.5 -137.5           500   318.09
918    LK5  611217   115  39.5 -131.1           500   318.88

[919 rows x 7 columns]

---

## Extra Challenge

**If you've defined a function `dms_to_dd()` in Problem 3.4 that looks something like this:**

```py
def dms_to_dd(degrees, minutes, seconds):
    ...
```

**Then this code block will add "Latitude" and "Longitude" fields to your `co2` dataset;** use those for this problem:

In [21]:
# Compute decimal degrees for each row
lat_dd = []
for degrees, minutes in co2[['lat_degrees', 'lat_minutes']].values.tolist():
    lat_dd.append(dms_to_dd(degrees, minutes, 0))
    
lng_dd = []
for degrees, minutes in co2[['lng_degrees', 'lng_minutes']].values.tolist():
    lng_dd.append(dms_to_dd(degrees, minutes, 0))
    
# Re-format the "lng_ew" and "lat_ns" columns
co2['lng_ew'] = list(map(lambda x: x.strip(), co2['lng_ew'].values.tolist()))
co2['lat_ns'] = list(map(lambda x: x.strip(), co2['lat_ns'].values.tolist()))

# Store the latitudes, longitudes *without* their proper hemisphere sign
co2['Latitude'] = lat_dd
co2['Longitude'] = lng_dd

# If latitude (longitude) is northern (eastern), keep the current value, otherwise take negative
co2['Latitude'] = co2['Latitude'].where(co2['lat_ns'] == 'N', -co2['Latitude'])
co2['Longitude'] = co2['Longitude'].where(co2['lng_ew'] == 'E', -co2['Longitude'])

There were six aircraft campaigns that contributed to this dataset, indicated by the unique, two-letter codes in the "flight" column (the number refers to either 500 or 700 hPa pressure, a proxy for the altitude of the flight).

In [22]:
list(co2['flight'].unique())

['LK5', 'SK5', 'PT5', 'SS5', 'LH5', 'LK7', 'SK7', 'PT7', 'LK3', 'LH7', 'LN7']

**What are the different regions visited in each flight?** We'd like to know the extent of the area visited in each flight, so that the flight areas can be searched for based on spatial location. One way to represent these extents is with a rectangular bounding box, based on the minimum and maximum latitudes and longitudes during the flight:

```
(min_longitude, min_latitude, max_longitude, max_latitude)
```

The first two numbers therefore represent the lower-left corner of the bounding box (on a North-up map) while the last two numbers represent the upper-right corner of the bounding box.

- **Write a re-useable Python function that calculates a bounding box based on an arbitrarily long sequence of latitude-longitude coordinates.**
- **For each of the six unique flight campaigns, calculate the rectangular bounding box.**

Make sure to use the new columns:

```py
for row in co2.to_records():
    print(row['Latitude'])
    print(row['Longitude'])
```